body, html, #root {
  text-align:center;
  
	background-color: #3a291a;
	height: 100%;
}

#app {
	background-image: url("../assets/entry-bg.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	margin: auto;
	width: 900px;
	height: 100%;
}

#header {
	background-image: url("../assets/blog-header.jpg");	
	height: 268px;
}

.entry {
	background-image: url("../assets/sgbg.jpg");
	 width: 400px;
	 height: 350px;
	 font-weight: 500;
	 font-family: "Noto Serif";
	 padding: 30px;
	 font-size: 14px;
	 text-align: left;
	 margin: 20px 0 0 20px;
	 border: 3px solid #f4e7b0;
}

#nav-bar {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #777;
	border-top: 1px solid #999;
	background-color: #f4e7b0;
}
