.btn__social--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .btn__social {
    width: 75px;
    height: 48px;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: 1px solid #aaa;
    background-color: #f4e7b0;
  }
  
  .btn--github {
    background-color: #1b1c1d;
  }
  
  .btn--github:hover {
    background-color: #232425;
  }
  
  .btn--twitter {
    background-color: #55acee;
  }
  
  .btn--twitter:hover {
    background-color: rgb(67, 158, 228);
  }
  